.token-list {
    padding-top: 10px;

    .token-header {
        color: var(--grey);
        justify-content: space-between;
    }

    .token-header-item {
        font-size: 12px;
        vertical-align: middle;
    }

    .token-item {
        position: relative;
        border: 1px solid #ddd;
        height: 62px;
        width: 89.3333vw;
        margin-top: 14px;
        border-radius: 10px;

        .token-info,
        .token-price,
        .token-change {
            position: absolute;
        }

        .token-info {
            top: 20px;
            left: 3.7333vw;

            .token-pair {
                font-weight: 900;
                font-size: 14px;
                color: var(--black);
            }

            .token-volume {
                color: var(--grey);
                font-size: 10px;
            }
        }

        .token-price {
            top: 21px;
            left: 48.8vw;
            font-size: 12px;

            &.up {
                color: var(--green);
            }
            &.down {
                color: var(--red);
            }
        }

        .token-change {
            display: inline-block;
            top: 20px;
            right: 3.7333vw;
            font-size: 14px;
            border-radius: 10px;
            padding: 0 8px;

            &.up {
                color: var(--green);
            }
            &.down {
                color: var(--red);
            }
        }

    }
}