.order-page {
    padding: 0 10px;

    .order-base-color {
        color: var(--black);
    }

    .bottom-gap {
        margin-bottom: 12px;
    }

    .order-token-control {
        justify-content: space-between;
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;

        .order-token-control-left {}

        .order-token-control-right {
            color: var(--black);
            width: 23px;
            height: 23px;
        }
    }


    .order-info {
        justify-content: space-between;

        .lever-icon {
            color: var(--grey);
        }

        .lever,
        .order-fee {
            vertical-align: middle;
        }

        .order-fee {
            text-align: right;
            color: var(--grey);
        }
    }

    .direction {
        .direction-button {
            text-align: center;
            height: 30px;
            line-height: 30px;
            background-color: #dedede;
            color: #fff;

            &.direction-left {
                border-radius: 6px 0 0 6px;
            }

            &.direction-right {
                border-radius: 0 6px 6px 0;
            }

            &.selected {
                background-color: #FCD536;
                color: var(--black);
            }
        }
    }

    .order-amount {
        .avaiable-amount {
            justify-content: space-between;
            color: var(--grey);
            margin-bottom: 10px;
        }

        .value-shortcut {
            background-color: #efefef;
            text-align: center;
            color: #999;
            height: 30px;
            line-height: 30px;
            font-size: 11px;
        }
    }

    .value-box {

        .price-input-box,
        .amount-input-box {
            position: relative;
        }

        .amount-input-box {
            text-align: right;
        }

        .price-input,
        .amount-input {
            input {
                text-align: center;
            }
        }

        .price-input-placeholder {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            color: var(--grey);
            font-size: 11px;
        }
    }

    .balance {
        color: var(--black);

        .balance-trans {
            margin-left: 10px;
            font-size: 12px;
            color: #FCD536;
        }
    }

    .slippage {
        justify-content: space-between;
        color: var(--grey);

        .slippage-value,
        .slippage-icon {
            vertical-align: middle;
        }

        .slippage-value {
            margin-right: 4px;
        }
    }

    .control-buttons {
        .open-control {
            justify-content: space-between;
        }

        .control-button {
            width: 45vw;
            border-radius: 4px;
            text-align: center;
            height: 42px;
            color: #fff;
            margin-bottom: 20px;

            .button-text {
                font-size: 16px;
                letter-spacing: 0px;
            }

            .calculate-value {
                font-size: 12px;
                letter-spacing: 0px;
            }
        }

        .button-green {
            background-color: var(--green);
        }

        .button-red {
            background-color: var(--red);
        }
    }
    .tabs {
        position: relative;

        .history-list {
            position: absolute;
            right: 0;
            top: 16px;
            color: var(--grey);
        }
    }
}