.history-page {
    color: var(--grey);

    .history-header {
        position: relative;
        text-align: center;
        height: 66px;
        line-height: 66px;

        .back-button {
            position: absolute;
            color: var(--grey);
            left: 10px;
            top: 26px;
        }

        .history-title {
            font-size: 16px;
            color: var(--black);
        }
    }

    .history-list {
        padding: 0 10px;

        .history-item {
            margin-bottom: 16px;
        }

        .symbol-info,
        .trade-info,
        .quantity-info,
        .price-info {
            justify-content: space-between;
            align-items: center;
        }

        .symbol-box {
            font-size: 16px;
            color: var(--black);
        }
        .time-box {
            font-size: 11px;
            letter-spacing: 0;
        }

        .side-box,.status-box {
            font-size: 12px;
            &.up {
                color: var(--green);
            }
            &.down {
                color: var(--red);
            }
            &.cancel {
                color: var(--grey);
            }
        }
        .status-box {
            padding: 0 4px;
            border-radius: 4px;
            &.up {
                background-color: var(--light-green);
            }
            &.down {
                background-color: var(--light-green);
            }
            &.cancel {
                background-color: var(--light-grey);
            }
        }
    }
}