.ordering-list {
    padding-top: 10px;
    color: var(--grey);
    font-size: 12px;

    .position-item {
        border-bottom: 1px solid #eee;
        padding: 10px 0;
    }

    .position-mb {
        margin-bottom: 5px;
    }

    .token-info {
        position: relative;

        .order-direction,
        .token-name,
        .leverage {
            display: inline-block;
            vertical-align: middle;
            margin-right: 6px;
        }

        .order-direction {
            color: white;
            border-radius: 2px;
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;

            &.up {
                background-color: var(--green);
            }

            &.down {
                background-color: var(--red);
            }
        }

        .token-name {
            font-size: 16px;
            color: var(--black);
        }
    }

    .position-detail {
        font-size: 10px;

        .position-detail-first,
        .position-detail-second {
            justify-content: space-between;
        }

        .amount-value,
        .entry-price-value {
            color: var(--black);
        }

        .value-font-size {
            font-size: 12px;
        }
    }

    .ordering-operation {
        position: absolute;
        right: 0;
        top: 10px;
    }

}